{% extends 'index.html' %}
    {% block title %}Carros{% endblock title %}
    {% block content %}
    <h1>Lista de Clientes</h1>
    <h2>Clientes:</h2>
    <div class="d-flex justify-content-end">
    <a class="btn btn-primary" href="{% url 'cadastrar_cliente' %}" role="button">Cadastrar Cliente</a>
    </div>
    <ul class="list-group list-group-flush">
        {% for cliente in clientes %}
        <li class="list-group-item" ><a href="{% url 'detalhar_cliente' clientes.pk %}">{{cliente.nome}}</a></li>
        {% endfor %}
    </ul>
    {% endblock content %}