{% extends 'index.html' %}
{% block title %}VCar - Detalhar: {{ carros.modelo }} {% endblock title %}
{% block content %}
<h1>Carros</h1>
<h2>Carro:</h2>
<div class="d-flex justify-content-end">
<div class="btn-group">
    <a href="{% url 'atualizar_carro' carros.pk %}" class="btn btn-primary">Atualizar</a>
    <a href="{% url 'deletar_carro' carros.pk %}" class="btn btn-danger">Deletar</a>
</div>
</div>
<div class="card mt-4">
    <div class="card-header">
        {{ carros.modelo }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Modelo: {{ carros.modelo }}</li>
            <li class="list-group-item">Placa: {{ carros.placa }}</li>
            <li class="list-group-item">Status: {{ carros.status }}</li>
          </ul>
    </div>
</div>
{% endblock content %}